@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-serif: var(--font-noto-serif);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-placeholder: var(--placeholder);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.625rem;
  --background: oklch(96.45% 0.006 128.53);
  --foreground: oklch(22.76% 0.018 127.26);
  --card: oklch(100% 0 0);
  --card-foreground: oklch(22.76% 0.018 127.26);
  --popover: oklch(100% 0 0);
  --popover-foreground: oklch(22.76% 0.018 127.26);
  --primary: oklch(34.21% 0.033 129.59);
  --primary-foreground: oklch(96.45% 0.006 128.53);
  --secondary: oklch(93.15% 0.013 126.38);
  --secondary-foreground: oklch(34.21% 0.033 129.59);
  --muted: oklch(93.15% 0.013 126.38);
  --muted-foreground: oklch(54.58% 0.055 129.66);
  --accent: oklch(93.15% 0.013 126.38);
  --accent-foreground: oklch(34.21% 0.033 129.59);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(88% 0.020 128.32);
  --input: oklch(79.03% 0.040 128.32);
  --placeholder: oklch(54.58% 0.055 129.66);
  --ring: oklch(71.54% 0.052 129.30);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(93.15% 0.013 126.38);
  --sidebar-foreground: oklch(22.76% 0.018 127.26);
  --sidebar-primary: oklch(34.21% 0.033 129.59);
  --sidebar-primary-foreground: oklch(96.45% 0.006 128.53);
  --sidebar-accent: oklch(86.11% 0.026 128.81);
  --sidebar-accent-foreground: oklch(34.21% 0.033 129.59);
  --sidebar-border: oklch(86.11% 0.026 128.81);
  --sidebar-ring: oklch(71.54% 0.052 129.30);
}

.dark {
  --background: oklch(19.02% 0.013 129.23);
  --foreground: oklch(96.45% 0.006 128.53);
  --card: oklch(22.76% 0.018 127.26);
  --card-foreground: oklch(96.45% 0.006 128.53);
  --popover: oklch(22.76% 0.018 127.26);
  --popover-foreground: oklch(96.45% 0.006 128.53);
  --primary: oklch(93.15% 0.013 126.38);
  --primary-foreground: oklch(22.76% 0.018 127.26);
  --secondary: oklch(34.21% 0.033 129.59);
  --secondary-foreground: oklch(93.15% 0.013 126.38);
  --muted: oklch(34.21% 0.033 129.59);
  --muted-foreground: oklch(64.18% 0.066 129.27);
  --accent: oklch(34.21% 0.033 129.59);
  --accent-foreground: oklch(93.15% 0.013 126.38);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(34.21% 0.033 129.59);
  --input: oklch(44.85% 0.045 128.99);
  --placeholder: oklch(54.58% 0.055 129.66);
  --ring: oklch(54.58% 0.055 129.66);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(22.76% 0.018 127.26);
  --sidebar-foreground: oklch(96.45% 0.006 128.53);
  --sidebar-primary: oklch(93.15% 0.013 126.38);
  --sidebar-primary-foreground: oklch(96.45% 0.006 128.53);
  --sidebar-accent: oklch(34.21% 0.033 129.59);
  --sidebar-accent-foreground: oklch(96.45% 0.006 128.53);
  --sidebar-border: oklch(34.21% 0.033 129.59);
  --sidebar-ring: oklch(54.58% 0.055 129.66);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
