# Expo
.expo/
dist/
web-build/

# Native builds
android/
ios/

# Dependencies
node_modules/

# Env files
.env
.env.local
.env.*.local

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Logs
*.log


# Builds
ios/
android/